apiVersion: controller.kubeslice.io/v1alpha1
kind: Project
metadata:
  name: {{ kubeslice_project }} 
  namespace: kubeslice-controller
spec:
  serviceAccount:
    readOnly:
      - reader
    readWrite:
      - admin