kubeslice:
  controller:
    loglevel: info
    rbacResourcePrefix: kubeslice-rbac
    projectnsPrefix: kubeslice
    endpoint: {{  controller_endpoint }}

  license:
    # possible license type values ["kubeslice-trial-license"]
    type: {{ license_type }}
    # possible license mode - ["auto", "manual"]
    mode: {{ license_mode }}
    # please give company-name or user-name as customerName
    customerName: {{ license_custom_username }}

imagePullSecrets:
  repository: https://index.docker.io/v1/
  username: {{ license_username }}
  password: {{ license_password }} #Variable to set.
  email:    {{ license_email }} #Variable to set.