imagePullSecrets:
  repository: https://index.docker.io/v1/
  username: {{ license_username }} #Variable to set. 
  password: {{ license_password }} #Variable to set.
  email:    {{ license_email }} #Variable to set.

